{{set . "title" "文章列表"}}
{{template "admin/header.html" .}}
<h4 class="sub-header">文章列表 | <a href="{{url "Admin.ArticleNew"}}">添加文章</a></h4>
<div>
<table class="table table-striped">
<thead>
	<tr>
		<th>#</th>
		<th>标题</th>
		<th>点击</th>
		<th>操作</th>
	</tr>
</thead>
<tbody>
	{{range .articles}}
		<tr>
			<td>{{.Id}}</td>
			<td>{{.Title}}</td>
			<td>{{.Hits}}</td>
			<td>
				<a href="{{url "Admin.ArticleEdit" .Id }}" title="编辑" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span>编辑<a>
				<a href="{{url "Admin.ArticleDelete" .Id}}" title="删除" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>删除<a>
			</td>
			
		</tr>
	{{end}}
</tbody>
</table>
</div>
{{template "admin/footer.html" .}}