{{set . "title" "分类列表"}}
{{template "admin/header.html" .}}

<h4 class="sub-header">分类列表｜<a href="{{url "Admin.CategoryNew"}}">添加分类</a></h4>
<div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>名称</th>
			<th>介绍</th>
			<th>分类ID</th>
			<th>建立时间</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{{range .categories}}
		<tr>
			<td>{{.Id}}</td>
			<td>{{.Name}}</td>
			<td>{{.Intro}}</td>
			<td>{{.Cateid}}</td>
			<td>{{.Created}}</td>
			<td>
				<a href="{{url "Admin.CategoryEdit" .Id }}" title="编辑" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span>编辑<a>
				<a href="{{url "Admin.CategoryDelete" .Id}}" title="删除" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>删除<a>
				
			</td>
		</tr>
		{{end}}
	</tbody>
</table>


<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  {{range .pagination.Pages}}
  <li {{if .IsCurrent}} class="active"{{end}}><a href="{{.Url}}">{{.Num}}</a></li>
  {{end}}
  <li><a href="#">&raquo;</a></li>
</ul>


</div>

{{template "admin/footer.html" .}}