<h4>{{.movie.Title}}</h4>

<p>
{{.movie.Content}}
</p>
<p>
<embed src="http://player.video.qiyi.com/b16b6dcc40a4a437d7452b910fcf44a2/0/0/v_19rrhven8g.swf-albumId=236922700-tvId=236922700-isPurchase=0-cnId=3" allowFullScreen="true" quality="high" width="480" height="350" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
</p>

<EMBED src=视频地址 width=686 height=420 type=application/x-shockwave-flashwmode="opaque" flashvars ="isAutoPlay=true"allowscriptaccess="sameDomain"quality="high"></EMBED>
<p>
<embed src="http://player.youku.com/player.php/sid/XNjk0MzUwNDU2/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
</p>


<embed src="http://static.youku.com/v1.0.0149/v/swf/loader.swf?VideoIDS=XNjk0MzUwNDU2&winType=adshow=0&isAutoPlay=true" quality="high" width="580" height="435" align="middle" allowScriptAccess="never" allowNetworking="internal" allowfullscreen="true" autostart="0" type="application/x-shockwave-flash"></embed>


